
body {
  background-color: cadetblue;
  font-family: 'Roboto Slab',Helvetica,Arial,sans-serif;
}

header {
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 150px;
  margin-bottom: 70px;
  margin-top: 70px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 200px;
}

.flex-container {
  display: flex;
  width: 430px;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}
.grid {
  height: 440px;
  width: 440px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.grid div {
  background-color: crimson;
  color: white;
  height: 96px;
  width: 96px;
  border: 2px solid black;
  margin: 5px;
  text-align: center;
  font-size: 85px;
}


#hide {
  display: none;
}

.clear#show {
  font-family: 'Teko', sans-serif;
  background-color: crimson;
  color: white;
  height: 50px;
  width: 120px;
  border: 2px solid black;
  text-align: center;
  margin: auto;
  font-size: 23px;
  margin-top: 8px;
  line-height: 50px;
}

.restart {
  font-family: 'Teko', sans-serif;
  background-color: crimson;
  height: 50px;
  width: 120px;
  border: 2px solid black;
  text-align: center;
  margin: auto;
  font-size: 23px;
  margin-top: 8px;
  line-height: 50px;
}

.message {
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}